.DisplayedProduct {
    margin-top: 2em;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px;
    border-color: black;
    font-size: calc(8px + 2vmin);
    font-family: 'Lato', sans-serif;
    background-color: #f4f2f4;
}

.container {
    width: 100%;
  }

  .Body {
    justify-content: center;
    display: flex;
    flex-direction: wrap;
    text-align: center;
  }

  .btn-primary {
    background-color: #f4f2f4;
    border: 0px;
    text-shadow: 0px 0px 11px rgb(0, 0, 0);
    color: black;
    border-radius: 15px;
  }

  .btn-primary:active {
    background-color: #8b8b8b;
    transition: none;
  }

  
  .btn-primary:hover {
    background-color: #8b8b8b;
    transition: none;
    transform: none;
  }

  .sweet-loading {
    margin-top: 50px;
  }